@import './index/page1.scss';
@import './index/page2.scss';
@import './index/page3.scss';
@import './index/page4.scss';
#head-menu {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
    .navbar {
        border-radius: 0;
    }
    .nav-bar-first {
        transition: all 0.7s;
        border-radius: 0;
        background-color: #0099CC;
        border-color: #0099CC;
        li a {
            font-size: 12px;
            font-weight: 700;
            color: #fff;
        }
        li.active {
            a {
                font-size: 14px;
                background-color: rgba(0, 0, 0, 0);
                color: orange;
            }
        }
    }
    .nav-bar-others {
        transition: all 0.7s;
        li a {
            font-size: 12px;
            font-weight: 700;
        }
        li.active {
            a {
                font-size: 14px;
                background-color: rgba(0, 0, 0, 0);
                color: orange;
            }
        }
    }
}
